.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header-menu,
.address {
  font-size: 18px;
}

.header-links-list {
  display: flex;
  width: 391px;
  justify-content: space-between;
  margin-right: 36px;
  list-style: circle;
  gap: 13px;
}

.header-links-list-item:nth-child(1) {
  list-style: none;
}

.header-link {
  text-underline-offset: 4px;
}

.header-link-active {
  text-decoration: none;
}

.header-logo {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  margin-left: 184px;
  font-style: normal;
  justify-self: end;
  align-items: flex-start;
  line-height: 1.2;
  text-underline-offset: 4px;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  min-height: 757px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: #000;
  opacity: 60%;
  z-index: 1;
}

.cover-title,
.cover-description {
  position: relative;
  z-index: 2
}

.cover-title {
  padding: 165px 50px 0;
  font-weight: bold; /*хотя это вроде автоматически для h1*/
}

.aligned-text {
  font-size: 100px;
  letter-spacing: 30px;
  line-height: 1.15;
  display: block;
}

.aligned-text-left {
  text-align: left;
}

.aligned-text-center {
  text-align: center;
  margin-block: 20px;
}

.aligned-text-right {
  text-align: right;
}

.aligned-letter-no-spacing {
  letter-spacing: 0;
}

.cover-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 106px 50px 50px;
}

.cover-description-text {
  font-size: 22px;
  word-spacing: 19px;
  font-weight: normal;
}

.bet-button {
  font-size: 22px;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  text-transform: uppercase;
  padding: 12px 32px 11px 31px;
  cursor: pointer;
}

.lots {
  margin-top: 180px;
  padding-inline: 24px;
}

.lots-title {
  font-size: 40px;
  text-transform: uppercase;
  padding-left: 40px;
  padding-bottom: 27px;
}

.lots-card-list {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.lots-card-list-item {
  width: 334px;
  flex-grow: 1;
  min-height: 596px;
  list-style: none;
}

.card-link {
  height: 100%;
  position: relative;
  z-index: 2;
  text-decoration: none;
}

.card {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  padding: 48px 40px;
  background-size: cover;
  background-position: center;
}

.card-type-film {
  background-image: url(../images/card-lot-01.jpg);
}

.card-type-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card-type-picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card-title,
.card-text {
  position: relative;
  z-index: 2;
}

.card-title {
  text-transform: uppercase;
  font-size: 22px;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.card-text,
.look-more-link {
  font-size: 20px;
}

.look-more-link {
  display: block;
  text-underline-offset: 5px;
  padding-top: 30px;
  padding-left: 40px;
}

.about {
  margin: 120px 24px 180px;
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 258px 1fr;
  grid-template-areas: 
  "logo title"
  ". description";
  align-items: center;
  gap: 25px;
}

.about-logo {
  margin-left: 47px;
  grid-area: logo;
  width: 240px;
  aspect-ratio: 1;
  background-color: #000;
  border-radius: 50%;
  display: flex;
}

.about-logo-image {
  height: 50%;
  align-self: center;
}

.about-title {
  grid-area: title;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about-description {
  grid-area: description;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding-right: 6px;
}

.footer {
  margin-top: 180px;
  padding: 0 50px 94px;
  display: grid;
  grid-template-columns: 265px 188px 240px;
  gap: 154px;
}

.footer-address {
  margin-left: 0;
  text-underline-offset: 5px;
}

.footer-menu {
  font-size: 18px;
  text-underline-offset: 4px;
}

.footer-menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
}

.footer-link-active {
  text-decoration: none ;
}

.footer-social-list {
  list-style: none;
  display: flex;
  column-gap: 48px;
}

.footer-social-link {
  display: block;
  width: 48px;
  aspect-ratio: 1;
}

.footer-social-icon {
  height: 100%;
}